name: Build
permissions:
  packages: write
on:
  push:
    branches:
      - main
jobs:
  build:
    environment: production
    env:
      CELLNOOR_PUBLIC_URL: ${{ vars.CELLNOOR_PUBLIC_URL }}
      CELLNOOR_INITIAL_DATA_PATH: ${{ vars.CELLNOOR_INITIAL_DATA_PATH }}
    runs-on: ubuntu-latest
    steps:
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        uses: docker/bake-action@v6
        with:
          push: true
